form{
    margin-top: 30px;
    text-align: center;
}

form input{
    margin-bottom: 10px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.highlight {
    background-color: yellow;
}

.textos{
    margin:10px;
    flex: 1;
}

form input[type="submit"]{
    margin-top: 10px;
}

.card a{
    margin-top: 5px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.btn{
    margin-bottom: 5px;
}
