<main>
    {{!-- Formulário--}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-4">
                <form action="/listar" method="post">
                    <input type="text"   name="nome" class="form-control" placeholder="Nome da Tarefa">
                    <input type="number" name="custo" class="form-control" placeholder="Custo da Tarefa">
                    <input type="date"   name="data_limite" class="form-control" aria-label="Data Limite da Tarefa">
                    <input type="submit" class="btn btn-primary" value="Listar">

                </form>
            </div>
        </div>
    </div>

    {{!--Listagem das Tarefas--}}
    <div class="container">
        <div class="row">
            {{#each tarefas}}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="textos">
                            <p>{{nome}}</p>
                            <p>R${{custo}}</p>
                            <p>{{data_limite}}</p>
                        </div>
                        <a href="#" class="btn btn-warning">Alterar</a>
                        <a href="#" class="btn btn-danger">Remover</a>

                    </div>
                </div>
            {{/each}}
            
        </div>

    </div>
</main>