<main>
    {{!-- Formulário--}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-4">
                <form>
                    <input type="text"   class="form-control" placeholder="Nome da Tarefa">
                    <input type="number" class="form-control" placeholder="Custo da Tarefa">
                    <input type="number" class="form-control" placeholder="Ordem de Apresentação das Tarefas">
                    <input type="date"   class="form-control" aria-label="Data Limite da Tarefa">
                    <input type="submit" class="btn btn-primary" value="Listar">

                </form>
            </div>
        </div>
    </div>

</main>