<main>
    {{!-- Formulário--}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-4">
                <form action="/listar" method="post">
                    <input type="text"   name="nome" class="form-control" placeholder="Nome da Tarefa">
                    <input type="number" name="custo" class="form-control" placeholder="Custo da Tarefa">
                    <input type="number" name="ordem_apresentacao" class="form-control" placeholder="Ordem de Apresentação das Tarefas">
                    <input type="date"   name="data" class="form-control" aria-label="Data Limite da Tarefa">
                    <input type="submit" class="btn btn-primary" value="Listar">

                </form>
            </div>
        </div>
    </div>

</main>