/* Definição das fontes */

@font-face {
    font-family: 'Joseph Sophia';
    src: url('fonts/josephsophia/josephsophia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'White Chocolate Mint';
    src: url('White\ Chocolate\ Mint\ -\ OTF.otf') format('opentype');
}
/* Margem abaixo do último card */
#listaTarefas .tarefa-item:last-child {
    margin-bottom: 30px;
}



body {
    background-color:#FFCCBD;
    
}



h1 {
    font-family: 'Joseph Sophia', sans-serif;
    text-align: center;
    font-size: 80px;
    font-weight: medium;
    padding-top: 40px; /* Ajuste o valor conforme necessário */
}

h2 {
    font-family: 'Joseph Sophia', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: medium;
    padding-top: 20px; /* Ajuste o valor conforme necessário */
}




.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    margin-top: 30px;
    border: transparent;

}

form {
    margin-top: 30px;
    text-align: center;
}

form input[type="submit"] {
    margin-top: 10px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}


.highlight {
    background-color: #FFEB3B; /* Cor amarela mais forte */
    border-radius: 5px; /* Arredonda as bordas */
    padding: 2px 4px; /* Adiciona um pouco de espaço ao redor do texto */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Adiciona um sombreamento leve */
    display: inline-block; /* Garante que o fundo amarelo tenha a largura do texto */
}



.textos {
    margin: 10px;
    flex: 1;
    font-family: 'White Chocolate Mint', sans-serif;
    font-size: 20px;
}

form input[type="submit"] {
    margin-top: 10px;

}

.card a {
    margin-top: 4px;
}


.btn-container {
    display: flex;
    flex-direction: column;

    margin-right: 10px;
}

.btn {
    margin-bottom: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); 

}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: auto;
    max-width: 500px;
    margin: auto;
    position: relative;
    top: 20%;
}

.close {
    color: #aaa;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
.concluida {
    color: #534c4c;
    opacity: 0.6; /* Leve transparência */
}


.concluida-text {
    display: none;
    position: absolute;
    top: 20%;
    left: 1.5%;
}

.btn-container input[type="checkbox"]:checked + .concluida-text {
    display: inline;
}

.btn-container input[type="checkbox"]:checked {
    background-color: #FC6998;
}

input[type="checkbox"] {
    border-color:#FC6998;
    position: flex;
    margin: 20px;
}
.btn-primary, .btn-danger {
    background-color: #FC6998;
    border-color: #FC6998;
    width: 100%;
}

.btn-primary:hover {
    background-color: #FF85A1; /* Ajuste a cor conforme necessário */
    border-color: #FF85A1; /* Ajuste a cor conforme necessário */
}
.btn-secondary{
    background-color: #6a6868;
    border-color: #6a6868;
    width: 100%
}

/* Modifica a cor padrão dos botões */
.btn-mover,
.btn-warning,
.btn-danger {
    background-color: #FC6998;
    border-color: #FC6998;
    color: #fff;
}

/* Efeito de hover nos botões para uma cor mais clara */
.btn-mover:hover,
.btn-warning:hover,
.btn-danger:hover {
    background-color: #FF85A1;
    border-color: #FF85A1;
}

.btn-mover{
    margin-top: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* Cor com transparência para o primeiro botão "Subir" e o último botão "Descer" */
.btn-mover.mover-cima:disabled,
.btn-mover.mover-baixo:disabled {
    background-color: rgba(252, 105, 152, 0.5); /* Cor #FC6998 com 50% de transparência */
    border-color: rgba(252, 105, 152, 0.5);
    color: #fff;
    cursor: not-allowed;

}

.linha-personalizada {
    border: none;
    border-top: 2px solid #FF85A1; /* Cor e espessura da linha */
    width: 80%; /* Ajuste a largura conforme necessário */
    margin: 0 auto; /* Centraliza a linha horizontalmente */
    margin-top: 30px;
}
.linha-personalizada2 {
    border: none;
    border-top: 2px solid #FF85A1; /* Cor e espessura da linha */
    width: 40%; /* Ajuste a largura conforme necessário */
    margin: 0 auto; /* Centraliza a linha horizontalmente */
    margin-top: 10px;
}
.left-bold {
    text-align: left; /* Alinha o texto à esquerda */
    color: rgb(97, 96, 96); /* Define a cor do texto como cinza */
    margin-bottom: -0.3%;
}
input[type="submit"][value="Incluir"] {
    margin-top: 30px; /* Ajuste o valor conforme necessário */
}
input[type="submit"][value="Alterar"] {
    margin-top: 30px; /* Ajuste o valor conforme necessário */
    margin-bottom: 10px;
}
input[type="submit"][value="Nova Tarefa"] {
    margin-bottom: 50px;
}
#Nova {
    display: none;
    margin-bottom: 20%;
}
.container {
    padding-top: 30px;
    position: relative;
    padding-top: 30px;
}
/* Fundo com linhas */
.lined-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 28px,
        #FF85A1 28px,
        #FF85A1 30px
    );
    z-index: -1;
    opacity: 0.3; /* Controle a opacidade para suavizar as linhas */
    pointer-events: none;
}
