/* Definição das fontes */
@font-face {
    font-family: 'Birds of Paradise';
    src: url('fonts/adelia_3/adelia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Joseph Sophia';
    src: url('fonts/josephsophia/josephsophia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color:#FFCCBD;
    
}

h1 {
    font-family: 'Joseph Sophia', sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 80px;
    font-weight: medium;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFADBB;
    margin-top: 30px;
}

form {
    margin-top: 30px;
    text-align: center;
}

form input {
    margin-bottom: 10px;
}

form input[type="submit"] {
    margin-top: 10px;
    display: block;
    width: 100%;
}


.highlight {
    background-color: #FFFBDE;
}

.textos {
    margin: 10px;
    flex: 1;
}

form input[type="submit"] {
    margin-top: 10px;
}

.card a {
    margin-top: 4px;
}


.btn-container {
    display: flex;
    flex-direction: column;

    margin-right: 10px;
}

.btn {
    margin-bottom: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: auto;
    max-width: 500px;
    margin: auto;
    position: relative;
    top: 20%;
}

.close {
    color: #aaa;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
.concluida {
    color: #534c4c;
    opacity: 0.6; /* Leve transparência */
}


.concluida-text {
    display: none;
    position: absolute;
    top: 20%;
    left: 1.5%;
}

.btn-container input[type="checkbox"]:checked + .concluida-text {
    display: inline;
}

.btn-container input[type="checkbox"]:checked {
    background-color: #FC6998;
}

input[type="checkbox"] {
    border-color:#FC6998;
    position: flex;
    margin: 20px;
}
.btn-primary {
    background-color: #FC6998;
    border-color: #FC6998;
}

.btn-primary:hover {
    background-color: #FF85A1; /* Ajuste a cor conforme necessário */
    border-color: #FF85A1; /* Ajuste a cor conforme necessário */
}

/* Modifica a cor padrão dos botões */
.btn-mover,
.btn-warning,
.btn-danger {
    background-color: #FC6998;
    border-color: #FC6998;
    color: #fff;
}

/* Efeito de hover nos botões para uma cor mais clara */
.btn-mover:hover,
.btn-warning:hover,
.btn-danger:hover {
    background-color: #FF85A1;
    border-color: #FF85A1;
}

/* Cor com transparência para o primeiro botão "Subir" e o último botão "Descer" */
.btn-mover.mover-cima:disabled,
.btn-mover.mover-baixo:disabled {
    background-color: rgba(252, 105, 152, 0.5); /* Cor #FC6998 com 50% de transparência */
    border-color: rgba(252, 105, 152, 0.5);
    color: #fff;
    cursor: not-allowed;
}

